{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- navbar bottom -->
    <section id="spotlight">
            <div class="wrapper">
                <ul class="list" id="saved-list">
                    <li class="list-item close-btn" id="close-btn">✖</li>
                    <li class="list-item one" id="home"><a href="{% url 'web:index' %}" id="home">Home</a></li>
                    <li class="list-item two" id="counter">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                        <span id="saved-counter">0</span>
                        <a href="{% url 'web:saved_items' %}">Saved</a>
                    </li>
                    <li class="list-item" data-category-slug="electronics"><a href="#">Electronics</a></li>
                    <li class="list-item" data-category-slug="motors"><a href="#">Motors</a></li>
                    <li class="list-item" data-category-slug="home-garden"><a href="#">Home & Garden</a></li>
                    <li class="list-item" data-category-slug="clothing-accessories"><a href="#">Clothing & Accessories</a></li>
                    <li class="list-item" data-category-slug="sports"><a href="#">Sports</a></li>
                    <li class="list-item" data-category-slug="health-beauty"><a href="#">Health & Beauty</a></li>
                    <li class="list-item" data-category-slug="toys"><a href="#">Toys</a></li>
                    <li class="list-item" data-category-slug="business-industrial"><a href="#">Business & Industrial</a></li>
                    <li class="list-item" data-category-slug="collectables"><a href="#">Collectables</a></li>
                    <li class="list-item" data-category-slug="deals-sales"><a href="#">Deals & Sales</a></li>
                </ul>   
                
                {% if query %}
                <h2>Search Results for "{{ query }}"</h2>
                <div class="recent_row">
                    {% for product in products %}
                        <div>
                            <div class="img_cont">
                                <div class="image">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}" />
                                </div>
                                <span class="heart" id="heart-{{ product.id }}" data-product-id="{{ product.id }}"
                                onclick="toggleItem(this)">
                                    <i class="fa {% if product.id in saved_item_ids %}fa-heart{% else %}fa-heart-o{% endif %}"
                                    aria-hidden="true"style="{% if product.id in saved_item_ids %}color: red;{% endif %}"></i>
                                </span>
                            </div> 
                            <div class="text_cont">
                                <h4><a href="{% url 'web:details' product.id %}" class="image-text">{{ product.name }}</a></h4>
                                <h5 class="image-price">AU ${{product.price}}</h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% else %}
            <!-- Spotlight Section -->
                <div class='spotlight' id="spotlight2">
                    <div class='spotlight-content'>
                        <div class='spotlight-image'>
                            <img src="{% static 'images/spotlight-bg' %}.png" alt="Spotlight" />
                        </div>
                        <span class='spotlight-heading'>
                            <h1 class='spotlight-text'>Long weekend <br />adventures await</h1>
                            <h2 class='spotlight-semitext'>Get yourself prepped & your ride ready to hit the road.</h2>
                            <a href="#" class="spotlight-button">Shop now</a>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>

    <section id="category">
        <section class="wrapper">
            <div class="text"></div>
            <div id="category-items">
    
            </div>
        </section>
    </section>

    {% if not query %}
    {% if not category_slug %}

<!-- Recently Viewed -->
    <section id="recent">
        <div class="wrapper">
            <div class="recent_top">
                <h3>Recently Viewed</h3>
                <p><a href="#">See all</a></p>
            </div>
            <div class="recent_bot">
                {% for recent in recents %}
                    <div class="recent_row">
                        <div class="img_cont">
                            <div class="image">
                                <img src="{{ recent.image.url }}" alt="{{recent.name}}" />
                            </div>
                            <span class="heart" id="heart-{{ recent.id }}" data-product-id="{{ recent.id }}" onclick="toggleItem(this)">
                                <i class="fa {% if recent.id in saved_item_ids %}fa-heart{% else %}fa-heart-o{% endif %}"
                                aria-hidden="true"style="{% if recent.id in saved_item_ids %}color: red;{% endif %}"></i>
                            </span>
                        </div> 
                        <div class="text_cont">
                            <h4><a href="{% url 'web:details' recent.id %}" class="image-text">{{recent.name}}</a></h4>
                            <h5>AU ${{ recent.price }}</h5>
                        </div>
                    </div>
                {% endfor %}  
            </div>
        </div>
    </section>

    <!-- Picks section -->
    <section id="picked">
        <div class="wrapper">
            <div class="recent_top">
                <h3>Picks For You</h3>
                <p><a href="#">See all</a></p>
            </div>
            <div class="recent_bot">
                {% for pick in picks %}
                    <div class="recent_row">
                        <div class="img_cont">
                            <div class="image">
                                <img src="{{ pick.image.url }}" alt="{{ pick.name }}" />
                                <span class="heart" id="heart-{{pick.id}}" data-product-id="{{ pick.id }}" onclick="toggleItem(this)">
                                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div> 
                        <div class="text_cont">
                            <h4><a href="{% url 'web:details' pick.id %}" class="image-text">{{ pick.name }}</a></h4>
                            <h5>AU ${{ pick.price }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Watched Items -->
    <section id="watched">
        <div class="wrapper">
            <div class="recent_top">
                <h3>Watched Items</h3>
                <p><a href="#">See all</a></p>
            </div>
            <div class="recent_bot">
                {% for watch in watches %}
                    <div class="recent_row">
                        <div class="img_cont">
                            <div class="image">
                                <img src="{{watch.image.url}}" alt="{{watch.name}}" />
                                <span class="heart" id="heart-{{watch.id}}" data-product-id="{{ watch.id }}"
                                onclick="toggleItem(this)"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
                            </div>
                        </div> 
                        <div class="text_cont">
                            <h4><a href="{% url 'web:details' watch.id %}" class="image-text">{{watch.name}}</a></h4>
                            <h5>AU ${{watch.price}}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    {% endif %}    
{% endblock %}