{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- navbar bottom -->
    <section id="navbar_bot">
        <div class="wrapper">
            <div class="hamburger" id="hamburger-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="list" id="saved-list">
                <li class="list-item close-btn" id="close-btn">✖</li>
                <li class="list-item one" id="home"><a href="{% url 'web:index' %}" id="home">Home</a></li>
                <li class="list-item two" id="counter">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    <!-- <span id="saved-counter">0</span> -->
                    <a href="#">Saved</a>
                </li>
                <li class="list-item" data-category-slug="electronics">Electronics</li>
                <li class="list-item" data-category-slug="motors">Motors</li>
                <li class="list-item" data-category-slug="home-garden">Home & Garden</li>
                <li class="list-item" data-category-slug="clothing-accessories">Clothing & Accessories</li>
                <li class="list-item" data-category-slug="sports">Sports</li>
                <li class="list-item" data-category-slug="health-beauty">Health & Beauty</li>
                <li class="list-item" data-category-slug="toys">Toys</li>
                <li class="list-item" data-category-slug="business-industrial">Business & Industrial</li>
                <li class="list-item" data-category-slug="collectables">Collectables</li>
                <li class="list-item" data-category-slug="deals-sales">Deals & Sales</li>
            </ul>        
        </div>
    </section>
    
    <!-- Spotlight Section -->
    <section id="spotlight">
        <div class="wrapper">
            <div class='spotlight'>
                <div class='spotlight-content'>
                    <div class='spotlight-image'>
                        <img src="{% static 'images/spotlight-bg' %}.png" alt="Spotlight" />
                    </div>
                    <span class='spotlight-heading'>
                        <h1 class='spotlight-text'>Long weekend <br />adventures await</h1>
                        <h2 class='spotlight-semitext'>Get yourself prepped & your ride ready to hit the road.</h2>
                        <a href="#" class="spotlight-button">Shop now</a>
                    </span>
                </div>
            </div>
        </div>
    </section>

<!-- Recently Viewed -->
    <section id="recent">
        <div class="wrapper">
            <div class="recent_top">
                <h3>Recently Viewed</h3>
                <p><a href="#">See all</a></p>
            </div>
            <div class="recent_bot">
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Picks section -->
    <section id="recent">
        <div class="wrapper">
            <div class="recent_top">
                <h3>Picks For You</h3>
                <p><a href="#">See all</a></p>
            </div>
            <div class="recent_bot">
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Watched Items -->
    <section id="recent">
        <div class="wrapper">
            <div class="recent_top">
                <h3>Watched Items</h3>
                <p><a href="#">See all</a></p>
            </div>
            <div class="recent_bot">
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
                <div class="recent_row">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{% static 'images/product-1.jpg'%}" alt="" />
                        </div>
                    </div> 
                    <div class="text_cont">
                        <h4><a href="#">Ultimate Samsung Portable Bluetooth Speaker</a></h4>
                        <h5>AU $59.00</h5>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}