{% extends "base.html" %}
{% load static %}

{% block content %}

<section id="saved-items">
    <div class="wrapper">
        <div class="recent_top">
            <h3 class="text">Your Saved Items</h3>
        </div>
            <div class="item-content-grid recent_bot" id="saved-items-list">
                {% for saved_item in saved_items %}
                <div class="item recent_row" id="saved-item-{{ saved_item.product.id }}">
                    <div class="img_cont">
                        <div class="image">
                            <img src="{{ saved_item.product.image.url }}" alt="{{ saved_item.product.name }}">
                        </div>
                        <span class="heart" id="heart-{{ saved_item.product.id }}"
                            data-product-id="{{ saved_item.product.id }}" onclick="toggleItem(this)">
                            <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
                        </span>
                    </div>
                    <div class="text_cont">
                        <h4><a href="{% url 'web:details' saved_item.product.id %}"
                            class="image-text">{{saved_item.product.name }}
                        </a></h4>
                        <h5 class="image-price">AU ${{ saved_item.product.price }}</h5>
                    </div>
                </div>
                {% empty %}
                <div>No saved items yet.</div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>

{% endblock %}